<div class="container">
    <div class="section">
        <div class="row">
            <h1>Student Registration</h1>
            <form name="studentregistration" ng-submit="vm.Save()"></form>
            Name:<input type="text" ng-model="vm.Student.name"/><br/>
            Email:<input type="text" ng-model="vm.Student.email"/><br/>
            Phone:<input type="text" ng-model="vm.Student.phone"/><br/>
            City:<input type="text" ng-model="vm.Student.city"/><br />
            Address:<input type="text" ng-model="vm.Student.address"/><br/>
            <input type="submit" value="Save" />
            
        </div>
    </div>
</div>

