<div class="container">
    <div class="section">
        <div class="row">
            <h1>Student Registration</h1>
            <form name="studentregistration" ng-submit="vm.Save()">
                Name:<input type="text" ng-model="vm.Student.Name" /><br />
                Email:<input type="text" ng-model="vm.Student.Email" /><br />
                Phone:<input type="text" ng-model="vm.Student.Phone" /><br />
                City:<input type="text" ng-model="vm.Student.City" /><br />
                Address:<input type="text" ng-model="vm.Student.Address" /><br />
                <input type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>

